BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: false
  AfterControlStatement: Never
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
