# http://www.gnu.org/software/automake

/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
**/Makefile
configure~
configure
include/config.h
include/config.h.in~
/Makefile
/Makefile.in
src/base/Makefile
src/base/Makefile.in
src/utils/Makefile
src/utils/Makefile.in
src/xpn_client/Makefile.in
src/xpn_client/Makefile
src/xpn_server/Makefile.in
src/xpn_server/Makefile
src/.vscode
.vscode/settings.json
test/integrity/xpn/circs
