# http://www.gnu.org/software/automake

/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/Makefile
/Makefile.in
**/Makefile
configure~
configure
include/config.h
include/config.h.in~
Makefile.in
include/config.h.in
src/base/Makefile.in
src/utils/Makefile.in
src/xpn_client/Makefile.in
