name: Expand CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  update-organization-readme:
    name: Update organization README
    if: github.repository == 'xpn-arcos/xpn'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Repo
        uses: actions/checkout@v4
      - name: Check for README changes
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            readme:
              - 'README.md'
      - name: Checkout Destination Repo
        if: steps.filter.outputs.readme == 'true'
        uses: actions/checkout@v4
        with:
          repository: xpn-arcos/.github 
          path: destination-repo
          token: ${{ secrets.API_TOKEN_GITHUB }} 
      - name: Copy README
        if: steps.filter.outputs.readme == 'true'
        run: |
          mkdir -p destination-repo/profile
          cp README.md destination-repo/profile/README.md
      - name: Push changes to .github repo
        if: steps.filter.outputs.readme == 'true'
        run: |
          cd destination-repo
          git config user.name "README-Sync-Bot"
          git config user.email "actions@github.com"
          git add profile/README.md
          if git diff --staged --quiet; then
            echo "No changes detected in README"
          else
            git commit -m "Auto-update profile README from project source"
            git push
          fi